@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-page: #f9fafb;
    --card-border: #e4e4e7;
  }
  
  body {
    @apply bg-zinc-50 text-zinc-900 antialiased font-sans min-h-screen selection:bg-brand-100 selection:text-brand-900;
  }

  /* Custom subtle scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-300 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-400;
  }
}
